.country-dropdown-toggler {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #efefef;
  width: 100%;
  font-size: 0.925rem;
  box-shadow: none !important;
  outline: none !important;
  padding-right: 0.625rem !important;
}
.country-dropdown-toggler .caret-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.country-dropdown-toggler .caret-icon:lang(ar) {
  left: 12px;
}
.country-dropdown-toggler .caret-icon:lang(en) {
  right: 12px;
}
.country-dropdown-toggler .active-country .image {
  width: 20px;
  height: auto;
}
.country-dropdown-toggler .countries-list {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 0;
  border: 1px solid #efefef;
  min-width: 100%;
  max-width: 100%;
  max-height: 250px;
  overflow: auto;
  z-index: 100;
}
.country-dropdown-toggler .countries-list:lang(ar) {
  right: 0;
}
.country-dropdown-toggler .countries-list:lang(en) {
  left: 0;
}
.country-dropdown-toggler .countries-list .country-item {
  padding: 0.425rem;
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.country-dropdown-toggler .countries-list .country-item:hover {
  background-color: #efefef;
}
.country-dropdown-toggler .countries-list .country-item img {
  width: 20px;
  height: auto;
}

/*# sourceMappingURL=country-selector.css.map */
