@import "./common.scss";

/* Top Header */

.navbar-brand {
    img {
        width: 320px;
        height: auto;
    }
    @media only screen and (max-width: 575px) {
        img {
            width: 200px;
            height: auto;
        }
    }
    @media only screen and (max-width: 375px) {
        img {
            width: 180px;
            height: auto;
        }
    }
    @media only screen and (max-width: 280px) {
        img {
            width: 150px;
            height: auto;
        }
    }
}
