@import "./common.scss";

/* Main banner */

.main-section {
    position: relative;
    overflow-y: auto;
    min-height: 100vh;
    background: linear-gradient(to left top, #000000b2, #000000a4), url("../../../public/img/main-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    .banner {
        min-height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media only screen and (max-width: 768px) {
            align-items: center;
            justify-content: center;
        }
        h1 {
            position: relative;
            background-color: #f38e1a6b;
            padding: 1rem 2rem;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            animation: fadeRightLeft 1s linear;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                width: 2%;
                height: 100%;
                background-color: #f89335e7;
            }
        }
        h4 {
            line-height: 40px;
            animation: fadeLeftRight 1.5s linear;
        }
        .action-btns {
            a {
                display: inline-block;
                color: #ffffffd5;
                text-decoration: none;
                width: 160px;
                text-align: center;
                padding: 0.325rem;
                transition: all 0.6s;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                @media only screen and (max-width: 575px) {
                    display: block;
                }
                animation: fadeBottomUp 2s linear;
                &.message {
                    background-color: #bd1616;
                }
                &.whatsapp {
                    background-color: #41a712;
                }
            }
        }
        padding: 0 0.825rem;
    }
}

.contact-form {
    @media only screen and (max-width: 575px) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width: 414px) {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width: 360px) {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width: 320px) {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width: 280px) {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 576px) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (min-width: 768px) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (min-width: 992px) {
        position: absolute;
        top: 10%;
        left: 100px;
        max-width: 320px;
    }
    @media only screen and (min-width: 1024px) {
        position: absolute;
        top: 50%;
        left: 100px;
        max-width: 320px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @media only screen and (min-width: 1200px) {
        position: absolute;
        top: 10%;
        left: 100px;
        max-width: 400px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    background-color: #0f0f0f96;
    border-radius: 8px;
    input,
    select,
    button {
        font-size: 0.825rem;
    }
    h6 {
        position: relative;
        background-color: #eeedaa6b;
        padding: 0.825rem 1.5rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 2%;
            height: 100%;
            background-color: #f89335e7;
        }
        font-size: 0.725rem;
    }
    p {
        font-size: 0.825rem;
        @media only screen and (max-width: 414px) {
            font-size: 11px;
        }
    }
    .contact-form-btn {
        display: flex;
        justify-content: start;
        background-color: transparent;
        width: 160px;
        padding: 0;
        border: none;
        color: $white;
        .contact-form-btn-icon {
            width: 40px;
            background-color: #7b5304;
            height: 100%;
            padding: 0.725rem 0;
        }
        .contact-form-btn-text {
            width: 120px;
            background-color: #a8791c;
            height: 100%;
            padding: 0.725rem 0;
            transition: all 0.5s;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            &:hover {
                background-color: #7b5304;
            }
        }
    }

    .whats-app-btn {
        display: flex;
        justify-content: start;
        background-color: transparent;
        width: 160px;
        padding: 0;
        border: none;
        color: $white;
        text-decoration: none;
        .contact-form-btn-icon {
            width: 40px;
            background-color: #32880a;
            height: 100%;
            padding: 0.725rem 0;
            text-align: center;
        }
        .contact-form-btn-text {
            width: 120px;
            background-color: rgb(89, 206, 42);
            height: 100%;
            padding: 0.725rem 0;
            transition: all 0.5s;
            text-align: center;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            &:hover {
                background-color: #32880a;
            }
        }
    }
}

.about-section {
    .video-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
    }

    h2 {
        position: relative;
        animation: fadeRightLeft 1s linear;
        color: #8b3309;
        font-weight: 700;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.5rem;
        animation: fadeRightLeft 1s linear;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 50%;
            -webkit-transform: translateX(50%);
            transform: translateX(50%);
            width: 50%;
            height: 100%;
            border-bottom: 4px solid #fda049;
        }
    }
    p {
        text-align: center;
        line-height: 25px;
        font-weight: 600;
        animation: fadeLeftRight 1.5s linear;
    }
    .action-btn {
        a {
            display: block;
            color: $white;
            font-weight: 600;
            text-decoration: none;
            background-color: #a8791c;
            padding: 0.625rem 2.5rem;
            border-radius: 50px;
            transition: all 0.2s;
            &:hover {
                background-color: #cc9933;
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
            }
        }
    }
}

.secondary-section {
    position: relative;
    background-color: #f7efe47e;

    .head {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        max-width: 600px;
        background-color: #eca84f;
        text-align: center;
        color: #ffffff;
        padding: 1.5rem 0.825rem;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    }
    .container {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .card {
        position: relative;
        .image {
            img {
                height: 220px !important;
            }
        }
        .title {
            position: absolute;
            width: 90%;
            bottom: -10%;
            left: 50%;
            background-color: #96602e;
            color: #ffffff;
            text-align: center;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            border-radius: 50px;
            border: 2px solid #efefef;
            h5 {
                font-size: 1rem !important;
                padding: 0.5rem 0.325rem;
            }
        }
    }
    .action-btn {
        a {
            display: block;
            color: $white;
            font-weight: 600;
            text-decoration: none;
            background-color: #d82222;
            padding: 0.625rem 2.5rem;
            border-radius: 10px;
            max-width: 220px;
            margin-top: 5rem;
            margin-right: auto;
            margin-left: auto;
            transition: all 0.2s;
            &:hover {
                background-color: #eb4646;
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
            }
        }
    }
}

/* Thanking page */

.thanking-section {
    min-height: 100vh;
    background: linear-gradient(to left top, #000000b2, #000000a4), url("../../../public/img/main-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    .icon {
        animation: fadeBottomUp 1s linear;
    }
    .header {
        animation: fadeBottomUp 1.5s linear;
        h2 {
            @media only screen and (max-width: 414px) {
                font-size: 1rem;
                line-height: 30px;
            }
        }
    }
    .logo {
        animation: fadeBottomUp 2s linear;
    }
    .action-btn {
        animation: fadeBottomUp 2.5s linear;
        a {
            display: block;
            color: $white;
            font-weight: 600;
            text-decoration: none;
            background-color: #d82222;
            padding: 0.625rem 2.5rem;
            border-radius: 10px;
            width: 100%;
            max-width: 280px;
            margin-right: auto;
            margin-left: auto;
            transition: all 0.2s;
            &:hover {
                background-color: #eb4646;
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
            }
        }
    }
}
